.box{
    border: 1px solid black;
    max-height: 100px;
    /* content is out of box. to control use overflow..*/
    overflow: hidden;   /* content will hide of out of box*/
    overflow: scroll;   /* content will scroll within box*/
}

.myDiv{
    margin: 10px;
    border: 1px solid black;
    /* height must be 50 px, if content will increase than size will increase */
    min-height: 50px;
}